@model ParkDetailViewModel

@section Title 
{
    ParkDetails
}
@section StyleSheet {
    <link rel="stylesheet" href="~/css/park-detail.css" />
}



<div class="park-details-page">

    <div class="park-img-tile">
        <img src="~/images/parks/@(Model.Park.Code).jpg" class="park-img" />
    </div>

    <div class="park-details">
        <p><span>State: </span>@Model.Park.State</p>
        <p><span>Acreage: </span>@Model.Park.Acreage</p>
        <p><span>Elevation: </span>@Model.Park.ElevationInFeet Ft.</p>
        <p><span>Miles of Trail: </span>@Model.Park.MilesOfTrails</p>
        <p><span>Number of Campsites: </span>@Model.Park.NumOfCampsites</p>
        <p><span>Climate: </span>@Model.Park.Climate</p>
        <p><span>Year Founded: </span>@Model.Park.YearFounded</p>
        <p><span>Anual Visitor Count: </span>@Model.Park.AnnualVisitorCount</p>
        <p><span>Inspirational Quote: </span>@Model.Park.InspirationalQuote</p>
        <p><span>Inspiration Quote Source: </span>@Model.Park.InspirationalQuoteSource</p>
        <p><span>Entry Fee: </span>@Model.Park.EntryFee</p>
        <p><span>Number of Animal Species: </span>@Model.Park.NumOfAnimalSpecies</p>
    </div>

    <div class="park-title">
        <h3>@Model.Park.Name</h3>
    </div>

    <div class="park-description">
        <p>@Model.Park.Description</p>
    </div>

    <div class="today-forecast">
        <div class="img-and-title">
            <h3>Today</h3>
            
      <form asp-controller="Park" asp-action="SetPreference" method="post">
        <input type="submit" value="Change Units" />
      </form> 

            <img src="~/images/weather/@(Model.WeatherForecast[0].Forecast).png" />
        </div>
        <div class="high-temp-column">
            <h4>High</h4>
            <p class="temp">@(Model.WeatherForecast[0].TempHigh)&#176;@Model.CurrentUser.DegreeUnits</p>
        </div>
        <div class="low-temp-column">
            <h4>Low</h4>
            <p class="temp">@(Model.WeatherForecast[0].TempLow)&#176;@Model.CurrentUser.DegreeUnits</p>
        </div>
        <div class="weather-advice">
            <ul>
                @foreach (string advice in Model.WeatherForecast[0].WeatherAdvice)
                {
                    <li>@advice</li>
                }
            </ul>
        </div>
    </div>

    <div class="future-forecast">

        @for (int i = 1; i < Model.WeatherForecast.Count; i++)
        {
            <div class="day-forecast-tile">
                <img src="~/images/weather/@(Model.WeatherForecast[i].Forecast).png" class="weather-img" />
                <div class="future-high-temp-forecast">
                    <h4>High</h4>
                    <p class="temp">@(Model.WeatherForecast[i].TempHigh)&#176;@Model.CurrentUser.DegreeUnits</p>
                </div>
                <div class="future-low-temp-forecast">
                    <h4>Low</h4>
                    <p class="temp">@(Model.WeatherForecast[i].TempLow)&#176;@Model.CurrentUser.DegreeUnits</p>
                </div>
            </div>
            
        }


    </div>

</div>


