@model ParkDetailViewModel

@section Title 
{
    ParkDetails
}
@section StyleSheet {
    <link rel="stylesheet" href="~/css/park-detail.css" />
}

<div class="park-details-page">

    <div class="park-img-tile">
        <img src="~/images/parks/@(Model.Park.Code).jpg" class="park-img" />
    </div>

    <div class="park-details">
        <p>@Model.Park.Acreage</p>
    </div>

    <div class="park-title">
        <h3>@Model.Park.Name</h3>
    </div>

    <div class="park-description">
        <p>@Model.Park.Description</p>
    </div>

    <div class="today-forecast">
        <div class="img-and-title">
            <h3>Today</h3>
            <img src="~/images/weather/@(Model.WeatherForecast[0].Forecast).png" />
            <p>@Model.WeatherForecast[0].Forecast</p>
        </div>
        <div class="high-temp-column">
            <h4>High</h4>
            <p>@Model.WeatherForecast[0].TempHigh</p>
        </div>
        <div class="low-temp-column">

        </div>
    </div>

    <div class="future-forecast">

        @for (int i = 1; i < Model.WeatherForecast.Count; i++)
        {
        <div>
            <img src="~/images/weather/@(Model.WeatherForecast[i].Forecast).png" />
            <p>@Model.WeatherForecast[i].Forecast</p>
        </div>
         }
            
        </div>

</div>


